.button {
    width: fit-content;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

.button--dark {
    background: #cb0207;
    color: white;
}